$color-bg : rgb(51, 23, 3);
$color-text : white;
$color-label : Black;
.body1 {
    background: $color-bg;
}
// make the style for the container
.container {
    position: absolute;
    margin: 100px 50px;
    .label {
        position: relative;
        color: $color-text;
        font-size: 50px;
        font-family: 'AR techn';
        margin: 0px 250px;
        top: -40px;
        // create the line
        &::before {
            content: '';
            border: 1px solid chocolate;
        }
    }
    // create the second line
    &::before {
        content: '';
        border: 2px solid chocolate;
        float: right;
        margin-right: 300px;
        height: 500px;
    }
    // style in the formulair
    form {
       position: relative;

        .name {
            width: 350px;
            margin: 10px 20px;
        }
        .adr {
            width: 745px;
            margin: 0px 20px;
            resize: none;
        }
        .date {
            width: 745px;
            margin: 0px 20px;
        }
        button {
            position: relative;
            width: 250px;
            margin: 0px 60px;
            top: -10px;
        }
    }
    @media (max-width: 991px) {
        &::before {
            content: none;
        }
        .label {
            
            color: $color-text;
            font-size: 50px;
            font-family: 'AR techn';
            margin: 0px 20px;
            top: -20px;
            // create the line
            &::before {
                content: '';
                border: 1px solid chocolate;
            }
        }
        form {
             .name {
                 width: 300px;
             }
             .adr {
                 width: 300px;
                 resize: none;
             }
             .date {
                 width: 300px;
                 
             }
             button {
                top: -40px;
                margin-top: 20px;
             }
         }
    }
}
.other {
    position: absolute;
    margin-left: 69vw;
    top: 35vh;
    .Vous {
        font-size: 25px;
    }
    .badge {
        background: red;
        font-size: 16px;
        width: 330px;
        &::before {
            position: absolute;
            content: '';
            border: 1px solid white;
            margin-left: -15px;
            height: 28px;
            top: 38px;
        }
    }
    .icon {
        position: absolute;
        background: white;
        color: red;
        margin: 0px -50px;
        top: 38px;
        padding: 5px;
        border-radius: 20px;
        
    }
}
@media (max-width: 991px) {
    .other {
        position: absolute;
        margin-left: 20vw;
        top: 120vh;
        &::before {
            position: absolute;
            content :'';
            border: 1px solid chocolate;
            width: 370px;
            left: -30px;
        }
    }

}
.footer {
    top: -100px;
}
.social-links {
   position: absolute;
    top: 200px;
    left: 950px;
    
}
@media (max-width: 991px) {
    .social-links {
        display: none;
         
     }
}
.header {
    position: absolute;
    margin: 40px 40px;
   
    .back-link {
        position: absolute;
        font-size: 50px;
        color: white;
        overflow: hidden;
        &:hover {
            color: chocolate;
        }
    }
    &:hover {
        animation: back 1s forwards;
    
    }
    @keyframes back {
        from {
            margin: 40px 30px;
        }
        to {
            margin: 40px 40px;
        }
    }
}
/*
===========================================================
    Customers Registre or connect
===========================================================
*/
