.formControl {
    position: relative;
    max-width: 100%;
    display: grid;
    column-gap: 30px;
    justify-content: space-between;
}
.TextTitre {
    width: 500px;
    height: 100px;
    margin: 15px;
    padding: 8px;
    font-size: 1.1em;
    resize: none;
}
.TextTitre:focus {
    transition: 0.3s;
    transform: scale(1.1);
    border: 1px solid green;
    outline:none;
}
.InputControl {
    width: 250px;
    height: 50px;
    margin: 15px;
    padding: 8px;
    font-size: 1.1em; 
}
.InputControl:focus {
    transition: 0.3s;
    transform: scale(1.1);
    border: 1px solid green;
    outline:none;
}
.btn-submit {
    padding: 10px;
    margin: 15px;
    font-size: 18px;
    color: white;
    background: green;
    border: 1px solid green;
    cursor: pointer;
}
.btn-submit:hover {
    background: rgb(3, 83, 3);
    border: 1px solid rgb(3, 83, 3);
    transition: 0.3s;
}